body{
font-family: Arial;
padding:30px;
}

form{
width:300px;
}

input{
width:100%;
padding:6px;
margin-top:4px;
margin-bottom:6px;
}

.error{
color:red;
font-size:13px;
display:block;
margin-bottom:6px;
}

#successMessage{
font-size:18px;
color:green;
margin-top:20px;
}